.product-area {
    position: relative;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-inline-start: 0;
    max-width: calc(1024px - 6rem);
    list-style-type: none;
}

.product-card-mock {
    width: 300px;
    height: 500px;
}

.pagination {
    margin-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.s-page-active .button {
    background-color: var(--color-primary);
    color: var(--color-text-alt);
}