.product-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    max-width: 28rem;
    padding: 2rem;
    border-radius: var(--border-radius-standard);
    background-color: rgba(189, 195, 199, 0.2);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.product-card--image {
    display: flex;
    justify-content: center;
}

    .product-card--image > img {
        display: block;
        max-width: 100%;
        height: 300px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        border-radius: var(--border-radius-standard);
        overflow: hidden;
    }

.product-card--title {
    margin: 0;
    overflow: hidden;
    font-size: 1.6rem;
    text-wrap: none;
    text-overflow: ellipsis;
}

.product-card--qty {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.product-card--qty input[type="text"] {
    flex: 1;
    /* width: auto; */
    min-width: 0;
    text-align: center;
}

.product-card--qty button {
    flex-shrink: 0;
}